html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}
.logo-nav {
  border-bottom: 1px solid #e7e9fc;
}
.top-line {
  display: flex;
  align-items: center;
  width: 1440px;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav:hover,
.nav:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.connect {
  margin-left: auto;
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 24px;
  margin-left: 160px;
  margin-top: 24px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.link:hover,
.link:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.buton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 169px;
  height: 56px;
  flex-direction: row;
  gap: 10px;
  margin-left: 636px;
  margin-bottom: 188px;
  margin-right: 635px;
}

.buton:hover,
.buton:focus {
  background: #404bbf;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.logo {
  width: 115px;
  height: 24px;
  text-decoration: none;

  margin-left: 140px;
  align-items: center;
  justify-content: flex-start;
}
.logo .logo-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #4d5ae5;
}
.logo .logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2e2f42;
}
.small-logo {
  width: 115px;
  height: 24px;
  text-decoration: none;
  flex-direction: row;
  margin-bottom: 200px;
}
.small-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
}
.small-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #f4f4fd;
}
.header-nav {
  display: flex;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 80px;
  gap: 40px;
}
li {
  list-style-type: none;
}
.nav {
  text-decoration: none;
  display: flex;
}
.address-connect {
  text-decoration: none;
  display: flex;
}
.connect {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 100px;
  gap: 40px;
}
.hero {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
  margin-top: 0;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
}
.text {
  display: flex;
  gap: 24px;
  width: 1128px;
  height: 104px;
  margin-left: 140px;
  margin-right: 156px;
  margin-top: 98px;
  margin-bottom: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.light-bg {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  display: flex;
  flex-wrap: wrap;
}
.team-card {
  display: flex;
  gap: 24px;
  margin-right: 156px;
  margin-left: 110px;
  margin-bottom: 120px;
}
.img-sdw {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.down-card {
  width: 264px;
  height: 120px;
  background-color: #fff;
  justify-items: center;
}
.person-head {
  padding-top: 32px;
}
.person-text {
  padding-bottom: 32px;
}
.team-header {
  margin-left: 639px;
  margin-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section1 {
  width: 1440px;
  height: 322px;
  margin-top: 0;
  display: flex;
}
.portfolio {
  display: flex;
  width: 1440px;
  height: 1240px;
}
.picture {
  width: 360px;
  height: 300px;
}
.our-portfolio {
  display: flex;
  margin-top: 210px;
  margin-left: 100px;

  width: 1210px;
  height: 10px;
  flex-wrap: wrap;
}
.portfolio-header {
  height: 40px;
  padding-left: 500px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.portfolio-image {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  width: 1;
}
.down-picture {
  width: 360px;
  height: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.port-text {
  margin-bottom: 32px;
}
.text-footer {
  width: 264px;
  height: 72px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 20px;
}
.dark-bg {
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
  display: flex;
  align-self: baseline;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 1020px;
}
.little-container {
  margin-left: 156px;
  width: 264px;
  height: 112px;
}
